<html>
    <head>
        <title>Our First HTML Site!</title>
        <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div style="display: flex;">
            <div>
                {{ template "contact-form" .Form }}
                <hr />
                {{ template "display" .Data }}
            </div>
            <div id="imageViewer">
            </div>
        </div>
<script type="text/javascript">
        document.addEventListener("DOMContentLoaded", (event) => {
document.body.addEventListener('htmx:beforeSwap', function(evt) {
    if (evt.detail.xhr.status === 422) {
            console.log("setting status to paint");
        // allow 422 responses to swap as we are using this as a signal that
        // a form was submitted with bad data and want to rerender with the
        // errors
        //
        // set isError to false to avoid error logging in console
        evt.detail.shouldSwap = true;
        evt.detail.isError = false;
    }
});
        });
</script>
    </body>
</html>


